@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	html {
		font-size: 62.5%;
	}

	[contentEditable="true"]:empty:not(:focus):before {
		content: attr(data-text);
		font-size: 1.3rem;
		opacity: 0.4;
		font-weight: 600;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.border-shadow-normal {
		@apply border-[1px] border-slate-300  rounded-md shadow-md;
	}

	.text-h2 {
		@apply text-[2.6rem] sm:text-[3.2rem] text-textMain font-extrabold;
	}

	.text-h3 {
		@apply text-[1.6rem] sm:text-[2rem] text-textMain font-extrabold;
	}

	.text-h4,
	.text-medium {
		@apply text-[1.8rem] text-textMain font-extrabold;
	}

	.text-highlight {
		@apply text-textMain text-[1.6rem] font-bold;
	}

	.blockquote-color-1 {
		@apply text-[rgb(137_136_132)] text-[3rem] font-extrabold;
	}
}
